In [2]:
import numpy as np
import pandas as pd

In [93]:
a = [[1,2,3],[4,5,6],[7,8,9]]
dataset = pd.DataFrame(a)
dataset

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [104]:
bool_ = dataset - np.mean(dataset) >= dataset.std()
pd.DataFrame(bool_)

       0      1      2
0  False  False  False
1  False  False  False
2  False   True   True

In [86]:
sin_.apply(np.max, axis=1)

0    0.909297
1   -0.279415
2    0.989358
dtype: float64

In [33]:
dataset.drop(2, axis=1)
dataset

    0   1   2   3
0   1   2   3   3
1   4   5   6   6
2   7   8   9   9
3  10  11  12  12

In [37]:
dataset.mean()

0    5.5
1    6.5
2    7.5
3    7.5
dtype: float64

In [40]:
dataset.mean(axis=1)

0     2.25
1     5.25
2     8.25
3    11.25
dtype: float64

In [51]:
dataset.apply(np.max, axis=1)

0     3
1     6
2     9
3    12
dtype: int64

In [57]:
dataset.value_counts()

0   1   2   3
1   2   3   3     1
4   5   6   6     1
7   8   9   9     1
10  11  12  12    1
Name: count, dtype: int64

In [62]:
dataset.loc[0] = [0] * 4
dataset.loc[1] = dataset.loc[0]
dataset

    0   1   2   3
0   0   0   0   0
1   0   0   0   0
2   7   8   9   9
3  10  11  12  12

In [63]:
dataset.value_counts()

0   1   2   3
0   0   0   0     2
7   8   9   9     1
10  11  12  12    1
Name: count, dtype: int64

In [67]:
dataset.loc[0] = [1, 2, 3, 4]
dataset.loc[1] = [5, 6, 7, 8]

In [68]:
dataset.corr()

          0         1         2         3
0  1.000000  1.000000  1.000000  0.995526
1  1.000000  1.000000  1.000000  0.995526
2  1.000000  1.000000  1.000000  0.995526
3  0.995526  0.995526  0.995526  1.000000

In [77]:
a = dataset.mean()
list(a)

[5.75, 6.75, 7.75, 8.25]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]